/*
    Spiral Glow: https://media.giphy.com/media/l41lOvhfvYMW2MdXy/giphy.gif
    * Red and Gold: "https://thumbs.gfycat.com/WelloffDecentLabradorretriever-size_restricted.gif";
    Vortex: "https://media.giphy.com/media/TZf4ZyXb0lXXi/giphy.gif";
    Gold Dust: "gold dust.gif"
    * Glitch Glow: "https://media.giphy.com/media/3Wmw5EvoMyBrO/giphy.gif"
*/

@font-face {
    font-family: Avengers;
    src: url("../Fonts/AVENGEANCE HEROIC AVENGER.ttf");
}

* {
    margin: 0px; padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: black;
}

h1, p {
    width: 100%;
    font-family: 'Avengers';
    text-align: center;
}

h1 {
    position: absolute;
    top: 20%;
    font-size: 200px;
    animation: animate 15s ease forwards;
}

p, #mask {
    position: absolute;
    top: 60%;
    font-size: 40px;
    letter-spacing: 5px;
}

p {
    font-size: 40px;
    letter-spacing: 5px;
    background: linear-gradient(#c23616, black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#mask {
    width: 100%;
    height: 10%;
}

#left {
    position: absolute;
    left: 0px;
    width: 50%;
    height: 100%;
    background: black;
    animation: moveLeft 3s ease-in 10s forwards;
}

#right {
    position: absolute;
    right: 0px;
    width: 50%;
    height: 100%;
    background: black;
    animation: moveRight 3s ease-in 10s forwards;
}

@keyframes animate {
    0% { 
        opacity: 0;
        background: url("https://media.giphy.com/media/3Wmw5EvoMyBrO/giphy.gif") center/cover no-repeat;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    90% {
        opacity: 1;
    }
    99% { 
        background: url("https://thumbs.gfycat.com/WelloffDecentLabradorretriever-size_restricted.gif");
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    100% {
        opactiy: 0;
    }
}

@keyframes moveLeft {
    0% { 
        left: 0px;
    }
    50% {
        left: -30%;
    }
    100% { 
        left: -30%;
    }
}

@keyframes moveRight {
    0% { 
        right: 0px;
    }
    50% {
        right: -30%;
    }
    100% { 
        right: -30%;
    }
}
