* {
    margin: 0px; padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#versus {
    color: black;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 100px;
}

.emblem {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 360px;
}

.north {
    top: -150%;
    left: 18%;
    animation: moveDown 0.7s;
}

.south {
    top: 150%;
    right: 18%;
    animation: moveUp 0.7s;
}

.one {
    animation-delay: 0s;
}

.two {
    animation-delay: 0.7s;
}

.three {
    animation-delay: 1.4s;
}

.four {
    animation-delay: 2.1s;
}

.five {
    animation-delay: 2.8s;
}

.six {
    animation-delay: 3.5s;
}

.seven {
    animation-delay: 4.2s;
}

.eight {
    animation-delay: 4.9s;
}

.nine {
    animation-delay: 5.6s;
}

.ten {
    animation-delay: 6.3s;
}


/* North */
#Newcastle-United {
    background: url("../Imgs/North/NewcastleUnited.png") no-repeat center center;
    background-size: contain;
}

#Liverpool {
    background: url("../Imgs/North/Liverpool.png") no-repeat center center;
    background-size: contain;
}

#Everton {
    background: url("../Imgs/North/Everton.png") no-repeat center center;
    background-size: contain;
}

#Manchester-United {
    background: url("../Imgs/North/ManchesterUnited.png") no-repeat center center;
    background-size: contain;
}

#Manchester-City {
    background: url("../Imgs/North/ManchesterCity.png") no-repeat center center;
    background-size: contain;
}

#Huddersfield-Town {
    background: url("../Imgs/North/Huddersfield.png") no-repeat center center;
    background-size: contain;
}

#Burnley {
    background: url("../Imgs/North/Burnley.png") no-repeat center center;
    background-size: contain;
}

#Stoke-City {
    background: url("../Imgs/North/StokeCity.png") no-repeat center center;
    background-size: contain;
}

#Leichester-City {
    background: url("../Imgs/North/Leichester.png") no-repeat center center;
    background-size: contain;
}

#West-Bromwich-Albion {
    background: url("../Imgs/North/Albion.png") no-repeat center center;
    background-size: contain;
}

/* South */
#Chelsea {
    background: url("../Imgs/South/Chelsea.png") no-repeat center center;
    background-size: contain;
}

#Tottenham-Hotspurs {
    background: url("../Imgs/South/Tottenham.png") no-repeat center center;
    background-size: contain;
}

#Arsenal {
    background: url("../Imgs/South/Arsenal.png") no-repeat center center;
    background-size: contain;
}

#West-Ham-United {
    background: url("../Imgs/South/WestHamUnited.png") no-repeat center center;
    background-size: contain;
}

#Crystal-Palace {
    background: url("../Imgs/South/CrystalPalace.PNG") no-repeat center center;
    background-size: contain;
}

#Bournemouth {
    background: url("../Imgs/South/Bournemouth.png") no-repeat center center;
    background-size: contain;
}

#Southampton {
    background: url("../Imgs/South/Southampton.png") no-repeat center center;
    background-size: contain;
}

#Brighton-and-Hove-Albion {
    background: url("../Imgs/South/Albion.png") no-repeat center center;
    background-size: contain;
}

#Watford {
    background: url("../Imgs/South/Watford.png") no-repeat center center;
    background-size: contain;
}

#Swansea-City {
    background: url("../Imgs/South/Swansea.png") no-repeat center center;
    background-size: contain;
}

@keyframes moveDown {
    0% { top: -120% }
    50% { top: 20% }
    100% { top: 150% }
}

@keyframes moveUp {
    0% { top: 120% }
    50% { top: 20% }
    100% { top: -150% }
}
